/* mobile first */
body {
  font-family: "Dosis", Georgia, Arial, Verdana;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke-width: 0.25px;
  -moz-font-smoothing: subpixel-antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0;
  background-color: #e5e6e7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a {
  text-decoration: none;
  color: black; }

section {
  display: block;
  position: relative;
  text-align: justify; }

/*navigation and menu items */
.menuBar {
  position: fixed;
  width: 100%;
  z-index: 12; }

.menuBar div, .menuBar header, .menuBar nav {
  background-color: #e5e6e7;
  z-index: 10; }

.menuBar .mbHeader {
  position: relative;
  display: block;
  height: 41px;
  padding: .25em; }

.menuBar .mbBacking {
  position: absolute;
  width: 100%;
  border-bottom: 2px solid black;
  /*border-bottom: 1px none black;*/
  /*box-shadow: 0 2px 3px 1px rgba(0,0,0,1);*/ }

.menuBar header .mbLogo {
  position: absolute;
  width: 75%;
  max-width: 414px;
  height: 41px;
  text-align: right;
  background-image: url("machlogo_mobile.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  cursor: pointer;
  z-index: 11; }

.menuBar header .mbNavicon {
  float: right;
  width: 50px;
  height: 42px;
  background-image: url("menu_navicon.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 12; }

.menuBar .mbLinks {
  position: relative;
  /*display:block;*/
  display: none;
  right: 0;
  font-size: 2.75em;
  font-weight: bold;
  border-bottom: 2px solid black;
  z-index: 12; }

.menuBar .mbLinks li {
  font-family: "Raleway", Georgia, Arial, Verdana;
  display: block;
  text-align: center;
  padding: .15em 0; }

.mbLinkButton:hover a {
  color: #006fb8 !important; }

/* splash image items */
.pageSplash {
  position: relative;
  background-image: url("meeples_bg_desktop.jpg");
  background-size: 200%;
  background-attachment: fixed;
  border-bottom: 2px solid black; }

.psPrimary {
  height: 540px; }

.psSecondary {
  height: 150px; }

.pageSplash header {
  position: relative;
  font-family: Raleway;
  font-variant: small-caps;
  -webkit-text-stroke-width: 0;
  color: #FFF;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 360px;
  margin: auto;
  padding: 49px 0 1em 0; }

.pageSplash header h2 {
  font-size: 2em; }

.pageSplash header h3 {
  font-family: "Dosis";
  font-variant: normal;
  font-size: 1.5em; }

.pageSplash header h4, .pageSplash header button {
  margin-top: .2em;
  font-family: "Dosis";
  font-variant: normal;
  font-weight: normal;
  font-size: 1rem; }

.pageSplash .pageSplashMonkeys {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 360px;
  height: 150px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-image: url("monkeys.png");
  background-size: 100% auto;
  z-index: 10; }

/*page Splash media items */
.pageSplashMedia {
  position: relative;
  width: 360px;
  height: 240px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 11;
  /*temporary text*/
  color: white;
  text-align: center; }

/* content article items */
.pageContent {
  border-bottom: 2px solid black; }

.pageContent article {
  padding: 1em;
  font-size: 1.5em;
  background-color: #F3F4F5;
  /*	margin:1em;
  	border-radius:5px;
  	box-shadow: 5px 5px 5px rgba(0,0,0,.2);*/ }

.pageContent header {
  text-align: center; }

.pageContent header h2 {
  font-family: "Raleway";
  font-size: 1.5em;
  padding: 1em 0;
  display: inline-block;
  margin: auto; }

.pageContent article.cardA {
  background: #e5e6e7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5e6e7 1%, #8fa8b7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #e5e6e7), color-stop(100%, #8fa8b7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e6e7 1%, #8fa8b7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e6e7 1%, #8fa8b7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e6e7 1%, #8fa8b7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e5e6e7 1%, #8fa8b7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$machgrey', endColorstr='#8fa8b7',GradientType=0 );
  /* IE6-9 */ }

.pageContent article.cardB, .pageContent article.cardB h2 {
  color: #e5e6e7; }

.pageContent article.cardB {
  background: #006fb8;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #006fb8 0%, #004b96 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #006fb8), color-stop(100%, #004b96));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #006fb8 0%, #004b96 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #006fb8 0%, #004b96 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #006fb8 0%, #004b96 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #006fb8 0%, #004b96 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$machblue', endColorstr='#004b96',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.pageContent article.cardC {
  background: #ff5949;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ff5949 0%, #b73333 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ff5949), color-stop(100%, #b73333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #ff5949 0%, #b73333 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #ff5949 0%, #b73333 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #ff5949 0%, #b73333 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #ff5949 0%, #b73333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5949', endColorstr='#b73333',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.pageContent aside {
  padding: 1em 0; }

/* about page items */
.machBrosBubbles {
  margin: 1em auto 3em;
  text-align: center; }

.machBrosBubbles .bubblePic {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 150px;
  margin: auto;
  background-color: #FFFFFF;
  background-size: cover;
  background-position: center;
  border-radius: 20px; }

.machBrosBubbles .bubblePic h3 {
  font-family: "Raleway";
  font-size: .9em;
  color: #006fb8;
  position: relative;
  padding-top: .1em;
  top: 150px; }

.bpEdwin {
  background-image: url("bubble_portrait_ed.jpg"); }

.bpAlbert {
  background-image: url("bubble_portrait_al.jpg"); }

.bpKevin {
  background-image: url("bubble_portrait_kev.jpg"); }

/* signup form items */
input, button {
  display: inline-block;
  padding: .45em;
  font-size: 1em;
  border-radius: 15px;
  border: 2px solid transparent;
  margin: .5em; }

button.pageSplashButton {
  font-family: Raleway;
  font-variant: small-caps;
  padding: .2em .4em;
  margin: 0; }

button.pageSplashButton .buttonSignUp {
  display: inline-block; }

input:focus, button:focus {
  border: 2px solid black;
  outline: none; }

input[type=submit], button {
  background-color: #006fb8;
  color: #F3F4F5; }

input[type=submit]:active, button:active {
  background-color: #007FC8; }

input[type=submit]:hover, button:hover {
  border: 2px solid black;
  cursor: pointer; }

.signupForm fieldset {
  font-family: "Raleway", Georgia, Arial, Verdana;
  text-align: center; }

.signupForm label {
  font-weight: bold;
  display: inline-block; }

.signupForm #email {
  max-width: 280px; }

.emailIcon {
  position: relative;
  top: 3px;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  background-image: url("email_icon.png"); }

/* footer items */
.siteFooter {
  position: relative;
  height: 100px;
  background-image: url(meeples_bg_desktop.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover; }

/* DESKTOP RESPONSIVE */
@media only screen and (min-width: 680px) {
  .menuBar {
    background-color: #e5e6e7;
    height: 110px;
    z-index: 12;
    /*border-bottom: 2px solid black;*/
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }

  .mbTranslucent {
    background-color: rgba(229, 230, 231, 0.75);
    /*		-webkit-transition: all 0.5s ease-in;
    		-moz-transition: all 0.5s ease-in;
    		transition: all 0.5s ease-in;*/ }

  .menuBar *, .mbLogo, .mbLinks {
    background-color: rgba(229, 230, 231, 0) !important; }

  .menuBar .mbHeader {
    float: left; }

  .menuBar .mbBacking {
    display: none; }

  .menuBar header .mbLogo {
    width: 228px;
    height: 102px;
    background-image: url("machlogo_desktop.png");
    margin-left: .25em;
    background-size: auto; }

  .menuBar header .mbNavicon {
    display: none; }

  .menuBar .mbLinks {
    display: block;
    float: right;
    font-size: 2em;
    border-bottom: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }

  .menuBar .mbLinks ul {
    height: 100%; }

  .menuBar .mbLinks li {
    display: inline-block;
    text-align: right;
    padding: 0 .5em; }

  /* splash page */
  .pageSplash {
    background-image: url("meeples_bg_desktop.jpg");
    background-size: 200% cover;
    background-attachment: fixed;
    background-position-y: 200px;
    border-bottom: none; }

  .psPrimary {
    height: 700px; }

  .psSecondary {
    height: 250px; }

  .emailIcon {
    position: relative;
    top: 1px; }

  .pageSplash .pageSplashMonkeys {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    height: 219px;
    background-image: url("monkeys.png");
    background-size: 100% auto;
    margin: auto;
    left: auto;
    right: auto; }

  .pageSplash header {
    background: none;
    border: none;
    width: auto;
    padding: 130px 0 1em 0;
    text-shadow: 2px 2px 2px black; }

  .pageSplash header h2 {
    font-size: 3.5em; }

  .pageSplash header h3 {
    font-size: 2.5em; }

  .pageSplash header h4, .pageSplash header button {
    font-family: "Dosis";
    font-variant: normal;
    font-weight: normal;
    font-size: 1.25rem; }

  /*	button.pageSplashButton{
  		margin-bottom:1em;
  	}*/
  .pageSplashMedia {
    width: 480px;
    height: 360px;
    float: right;
    right: 3em; }

  /* page content */
  .pageContent {
    z-index: 11;
    background-color: #e5e6e7;
    border: none;
    box-shadow: 0 -2px 3px 1px rgba(0, 0, 0, 0.5), 0 2px 3px 1px rgba(0, 0, 0, 0.5); }

  .pageContent article {
    padding: 2em 0; }

  .pageContent aside {
    padding: 1em 0; }

  /* PAGE CONTENT STYLE 1 START */
  /* MULTIPLE COLOR DIVIDERS */
  .pageContent article {
    margin: 0;
    border-radius: 0; }

  .pageContent aside, .pageContent header {
    max-width: 720px;
    margin: auto;
    box-shadow: none; }

  /* PAGE CONTENT STYLE 1 END */
  /* PAGE CONTENT STYLE 2 START */
  /* CARD STYLE */
  /*
  	.pageContent{
  		z-index:11;
  		padding:.1em 0 .1em 0;
  	}
  
  	.pageContent article{
  		max-width:800px;
  		margin:2em auto;
  	}
  	.pageContent aside, .pageContent header{
  		max-width: 680px;
  		margin:auto;
  	}*/
  /* PAGE CONTENT STYLE 2 END */
  .machBrosBubbles .bubblePic {
    width: 150px;
    height: 150px;
    margin: 1em;
    border-radius: 75px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }

  .machBrosBubbles .bubblePic:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

  .bpEdwin {
    background-image: url("bubble_ed.jpg"); }

  .bpAlbert {
    background-image: url("bubble_al.jpg"); }

  .bpKevin {
    background-image: url("bubble_kev.jpg"); }

  /* newsletter items */
  .signupForm #email {
    max-width: 400px; } }
